* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #061024;
    --cor-card: #0c2047;
    --cor-card2: rgba(255, 255, 255, 0.219);
    --cor-acento: #C8A23C;
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-negrito: 'Poppins', sans-serif, bold;
    --cor-fonte: rgb(201, 201, 201); 
    --cor-fonte2: gray;
    --vegas-gold: hsl(45, 54%, 58%);
    --onyx: hsl(240, 1%, 17%);
    --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    line-height: 1.6;
    padding: 10px;
    margin: 30px;
}

.container-portfolio {
    display: flex;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
}

aside {
    width: 350px;
    height: fit-content;
    background-color: var(--cor-card);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    
}

.nome {
    font-size: 40px;
}

.separador-aside {
    width: 260px;
    height: 2px;
    background-color: var(--cor-acento);
    margin-top: 15px;
    border-radius: 2%;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-bottom: 20px; 
}

#cargo {
    background-color: var(--cor-card2);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.sidebar-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cabecalho-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 30px;
}

li {
    padding: 20px;
}

.contato-item {
    display: flex;
}

.contato-info {
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.contato-titulo {
    color: var(--cor-fonte2);
}

.link-contato {
    text-decoration: none;
    color: var(--cor-fonte);
}



.contato-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 13px;
    color: var(--cor-acento);
    border: solid var(--cor-acento) 1px;
    border-radius: 25%;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
}

i {
    font-size: 1.5rem;
    color: var(--cor-acento);
}

main {
    background-color: var(--cor-card);
    border-radius: 20px;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    width: 900px;
    height: fit-content;
}

h2 {
    font-size: 36px;
}

.oculto {
    display:none;
}

.barra-navegacao {
    background-color: var(--cor-card2);
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    border-radius: 0 0 0 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px 0;
    z-index: 15;
}

.lista-navegacao {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.lista-navegacao a {
    color: var(--cor-acento);
    font-style: var(--fonte-negrito);
    text-decoration: none;
    font-weight: bold;
}

.lista-navegacao a:hover {
    color: var(--vegas-gold);
    border-bottom: var(--vegas-gold) solid;

}

.conteudo-principal {
    padding: 20px;
}

.separador-main {
    width: 80px;
    background-color: var(--cor-acento);
    height: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.sobre-intro {
    margin-top: 20px;
}

.habilidades {
    margin-top: 20px;
}

.habilidades-desc-conteudo {
    max-height: 0;
    overflow-y: hidden;
    transition: max-heigth 0.6s ease-out, padding 0.2s ease-out;
    padding: 0;

}

.botao-expansao {
    background-color: var(--cor-card2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    border-radius: 10px;
    gap: 10px;
    border: 0;
    cursor: pointer;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
    transition: all 0.5s ease;
}

.expandido {
    max-height: 2000px;
    padding: 0px;
}

.habilidades-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.habilidades-lista {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0px;
}

.habilidades-item {
    position: relative;
    background-color: var(--cor-card2);
    border-radius: 10px;
    overflow: hidden;
}

.habilidades-icone {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0.5;
    top: 15px;
    right: 15px;
}

.habilidades-icone i {
    font-size: 4rem;
}

.habilidades-conteudo {
    position: relative;
}

.habilidades-desc {
    padding: 20px;
    font-weight: bold;
}

.ferramentas-lista {
    display: Flex;
    gap: 10px;
    overflow-x:scroll;
}

.ferramentas-lista::-webkit-scrollbar { 
    border-radius: 10px;  
}

.ferramentas-lista::-webkit-scrollbar-track {
    background-color: var(--cor-card2);
    border-radius: 10px;
}

.ferramentas-lista::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-acento);
}

.ferramentas-lista::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.exp-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    border-radius: 10px;
    border: solid 1px var(--cor-acento);

}

.exp-cabecalho {
    display: flex;
    gap: 20px;
    
}

.exp-cabecalho h3 {
    display: flex;
    flex-direction: column;
    align-items:end
}

.lista-xp {
    list-style: circle;
}

.descricao-xp {
    margin-top: 15px;
}

.formacao-cabecalho {
    display: flex;
    gap: 20px;
}

.formacao-cabecalho h3 {
    display: flex;
    align-items: end;
}

.formacao-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    border-radius: 10px;
    border: solid 1px var(--cor-acento);
}

.lista-formacao {
    list-style: circle;
}

.item-formacao {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-formacao {
    font-weight: bold;
}

.certificacoes-cabecalho {
    display: flex;
    gap: 20px;
}

.certificoes-icone {
    height: 50px;
    width: 50px;
    border: solid 1px var(--cor-acento);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
}

.certificacoes-cabecalho h3 {
    display: flex;
    align-items: end;
}

.lista-certificacoes {
    width:auto;
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.imagem-certificado {
    width: 300px;
    height: 200px;
    box-shadow: #000000 10px 10px 5px 0;
}

.certificado {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.lista-certificacoes::-webkit-scrollbar {
    border-radius: 10px;
}

.lista-certificacoes::-webkit-scrollbar-track {
    background-color: var(--cor-card2);
    border-radius: 10px;
}

.lista-certificacoes::-webkit-scrollbar-thumb {
    background-color: var(--cor-acento);
    border-radius: 10px;
}

.lista-certificacoes::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.card-projeto {
    position: relative;
    width: 340px;
    height: 170px;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px;
    background-color: var(--cor-card2);
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight:bolder;
    color: var(--cor-acento);
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}

.card-projeto:hover .card-overlay {
    transform: translateY(0);
}

#projeto-1 {
    background-image: url(../images/projeto-netflix.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#projeto-2 {
    background-image: url(../images/projeto-homenagem.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#projeto-3 {
    background-image: url(../images/projeto-analise.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#projeto-4 {
    background-image: url(../images/projeto-jogo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-overlay::-webkit-scrollbar {
    background-color: var(--cor-card2);
    border-radius: 10px;
    width: 5px;
}

.card-overlay::-webkit-scrollbar-thumb {
    background-color: var(--cor-acento);
}

.card-overlay::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form h3 {
    margin-bottom: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.dados-contato {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 20px;
}

.dados-contato input {
    height: 40px;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    font: var(--fonte-principal);
    background-color: var(--cor-card2);
    color:aliceblue
}

.dados-contato input::placeholder {
    color: var(--cor-fonte);
}

.area-texto { 
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

form textarea {
    background-color: var(--cor-card2);
    height: 200px;
    width: 800px;
    font-size: 28px;
    color: aliceblue;
    border-radius: 10px;
    padding: 10px
}
 
.botao-email {
    margin-top: 30px;
    padding: 17px 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
}

button:hover {
    letter-spacing: 3px;
    background-color:var(--cor-card2);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--cor-fundo) 0px 7px 29px 0px;
    }

button:active {
    letter-spacing: 3px;
    background-color: var(--cor-card);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--cor-card) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
    }

.botao-contato-mobile {
    display: none;
}

@media screen and (max-width: 850px) {
    .container-portfolio {
        flex-direction: column;
        padding: 10px; 
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .container-portfolio {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }

    ul {
        padding: 10px;
    }

    .conteudo-principal {
        padding: 10px 10px;
    }

    .habilidades-lista {
        padding: 0;
    }

    .habilidades-item {
        width: 100%;
    }

    .habilidades-desc {
        padding: 15px;
    }

    aside {
        width: 100%;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .sidebar-info {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }

    aside img {
        width: 80px;
        margin-bottom: 0;
    }

    .nome {font-size: 24px; }
    .separador-aside { display: none; }

    #lista-contato {
        display: none;
        width: 100%;
        padding: 10px 0; 
    }

    #lista-contato.ativo {
        display: block !important;
    }

    .botao-contato-mobile {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: 1px solid var(--cor-acento);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        display: block;
    }

    .barra-navegacao {
        width: 100%;
        border-radius: 10px;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .menu-hamburguer {
        display: block;
        background:none;
        border: none;
        border-radius: 10px;
        padding: 15px;
        cursor: pointer;
    }

    .lista-navegacao {
        display: none;
        flex-direction: column;
        background-color: var(--cor-card2);
        width: 100%;
    }

    .lista-navegacao.ativo {
        display: flex !important;
        background-color: var(--cor-card2);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        gap: 10px;
    }

    .item-navegacao {
        background-color: var(--cor-card);
        margin: 5px 0;
        border-radius: 8px;
        width: 100%;
        text-align: center;
    }

    main {
        width: 100%;
        margin-top: 20px;
    }

    .lista-projetos {
        grid-template-columns: 1ft;
        justify-items: center;
    }

    form textarea {
    width: 100%;
    }

    .dados-contato {
        flex-direction: column;
    }

    .dados-contato input {
        width: 100%;
    }

    .lista-projetos {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .card-projeto {
        width: 100%;
        max-width: 380px;
        height: 200px;
    }

    .descricao-xp {
        display: none;
    }

    .btn-descricao-xp {
        background-color: var(--cor-card2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 130px;
        margin-top: 10px;
        border-radius: 10px;
        gap: 10px;
        border: 0;
        cursor: pointer;
        background-color: white;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        padding: 5px;
        font-size: 10px;
        transition: all 0.5s ease;
    }

    .descricao-certificado {
        display: none;
    }

    .btn-descricao-cert {
        background-color: var(--cor-card2);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 130px;
        margin-top: 10px;
        border-radius: 10px;
        gap: 10px;
        border: 0;
        cursor: pointer;
        background-color: white;
        box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
        letter-spacing: 1.5px;
        padding: 5px;
        font-size: 10px;
        transition: all 0.5s ease;
    }
}

@media screen and (min-width: 851px) {
    .botao-contatos-mobile, .menu-hamburguer, .btn-descricao-xp, .btn-descricao-cert {
        display: none;
    }
}