* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fundo: #061024;
    --cor-card: #0c2047;
    --cor-card2: rgba(255, 255, 255, 0.219);
    --cor-acento: #C8A23C;
    --fonte-principal: 'Poppins', sans-serif;
    --cor-fonte: rgb(201, 201, 201); 
    --cor-fonte2: gray;
    --vegas-gold: hsl(45, 54%, 58%);
    --onyx: hsl(240, 1%, 17%);
    --border-gradient-onyx: linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  );
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    line-height: 1.6;
}

.container-portifolio {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    margin-top: 70px;
}

aside {
    width: 350px;
    height: auto;
    background-color: var(--cor-card);
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    border: 1px solid var(--vegas-gold);
}

.nome {
    font-size: 40px;
}

.separador-aside {
    width: 260px;
    height: 2px;
    background-color: var(--cor-acento);
    margin-top: 15px;
    border-radius: 2%;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-bottom: 20px; 
}

#cargo {
    background-color: var(--cor-card2);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.sidebar-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cabecalho-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 30px;
}

li {
    padding: 20px;
}

.contato-item {
    display: flex;
}

.contato-info {
    margin-left: 15px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
}

.contato-titulo {
    color: var(--cor-fonte2);
}

.link-contato {
    text-decoration: none;
    color: var(--cor-fonte);
}



.contato-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    padding: 13px;
    color: var(--cor-acento);
    border: solid var(--cor-acento) 1px;
    border-radius: 25%;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
}

i {
    font-size: 1.5rem;
    color: var(--cor-acento);
}

main {
    background-color: var(--cor-card);
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    width: 900px;
    height: fit-content;
    border: 1px solid var(--vegas-gold)
}

h2 {
    font-size: 36px;
}

.separador-main {
    width: 80px;
    background-color: var(--cor-acento);
    height: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.sobre-intro {
    margin-top: 20px;
}

.habilidades {
    margin-top: 20px;
}

.habilidades-lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.habilidades-item {
    position: relative;
    background-color: var(--cor-card2);
    border-radius: 10px;
}

.habilidades-icone {
    position: absolute;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.habilidades-icone i {
    font-size: 16rem;
}

.habilidades-conteudo {
    position: relative;
}

.habilidades-desc {
    padding: 20px;
}

.ferramentas-lista {
    display: Flex;
    gap: 10px;
    overflow-x:scroll;
}

.ferramentas-lista::-webkit-scrollbar { 
    border-radius: 10px;  
}

.ferramentas-lista::-webkit-scrollbar-track {
    background-color: var(--cor-card2);
    border-radius: 10px;
}

.ferramentas-lista::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--cor-acento);
}

.exp-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    border-radius: 10px;
    border: solid 1px var(--cor-acento);

}

.exp-cabecalho {
    display: flex;
    gap: 20px;
    
}

.exp-cabecalho h3 {
    display: flex;
    align-items:end
}

.lista-xp {
    list-style: circle;
}

.descricao-xp {
    margin-top: 15px;
}

.formacao-cabecalho {
    display: flex;
    gap: 20px;
}

.formacao-cabecalho h3 {
    display: flex;
    align-items: end;
}

.formacao-icone {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--cor-acento) 5px 5px 5px 0;
    border-radius: 10px;
    border: solid 1px var(--cor-acento);
}

.lista-formacao {
    list-style: circle;
}